body {
  min-height: 100vh;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.overview .header {
  font-size: 0.8em;
  text-align: center;
}

.overview .location {
  font-size: 1.5em;
  font-weight: bold;
}

.overview .icon {
  width: 300px;
}

.overview .weather-text {
  display: flex;
  gap: 20px;
  height: 2.5em;
  align-items: center;
}

.overview .temp {
  font-size: 2em;
}

.overview .separator {
  display: inline-block;
  width: 3px;
  height: 100%;
  background-color: black;
}
