.search {
  grid-area: search;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search input {
  height: 40px;
  width: 70%;
  font-size: 1.3em;
  padding: 5px;
  vertical-align: middle;
}

.search button {
  vertical-align: middle;
  height: 40px;
}
